/*
* @Author: lenovo
* @Date:   2018-08-27 10:42:52
* @Last Modified by:   lenovo
* @Last Modified time: 2018-09-17 01:03:07
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
nav p{
	display: none;
	width: 100%;
	height: 55px;	
	border-bottom: 1px solid #fff;
	padding:0 40px;
	font-size: 16px;
	background: #333;
	color: #fff;
	text-align: left;
	line-height: 55px;
}
nav{
	
	width: 100%;
	height: 55px;
	background: #fff;
	line-height: 55px;
	text-align: right;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}
.yc{
	    display: block;
	    width: 100%;
    	height: 55px;
	    background: #333;
	    color: #fff;
	    text-align: center;
	    line-height: 55px;
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 999;
	    cursor: pointer;
}
.xl{
	width: 100%;
	display: none;
	position: fixed;
	    top: 55px;
	    left:0;
}
.xl a{
	display: block;
	    width: 100%;
    	height: 55px;
	    background: #333;
	    color: #fff;
	    text-align: center;
	    line-height: 55px;
}
.xl ul{
	margin: 0;
}
.banner{
	width: 100%;
	height: 710px;
	background-image: url('../img/1.jpg');
	background-size: cover;
	overflow: hidden;
}
.banner img{
	width: 250px;
	height: 47px;
	display: block;
	margin: 300px auto;
	overflow: hidden;
}
.jj{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}
.jj .top{
	font-size: 18px;
	padding-bottom: 30px;
	text-align: center;
}
.jj .nr{
	width: 768px;
	font-size: 14px;
	color: #888;
	text-align: center;
	margin: 0 auto;
}
.jj .nr p{
	line-height: 20px;
}
.lp{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 100px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.lp .top{
	font-size: 24px;
	padding-bottom: 30px;
	padding-top: 30px;
}
.lp ul{
	width: 100%;
	height: 100%;
}
.lp ul li img{
	width: 100%;
}
.lp ul p{
	font-size: 14px;
	color: #888;
	margin-top: 15px;
	line-height: 25px;
}
.rj{
	width: 1024px;
	margin: 0 auto;
}
.rj .top{
	font-size: 24px;
	padding-bottom: 30px;
	padding-top: 30px;
}
.rj .pic{
	width: 100%;
	height: 230px;
	background-image: url('../img/5.jpg');
	background-size: cover;
}
.rj .bk{
	width: 100%;
}
.rj .bk ul{
	width: 100%;
}
.rj .bk ul li{
	color: #999;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dotted rgb(229, 229, 229);
}
.rj .bk ul li h2{
	font-weight: normal;
	font-size: 18px;
}
.rj .bk ul li h6{
	font-size: 12px;
}
.rj .bk ul li h4{
	font-size: 14px;
	font-weight: 100;
}
.rj .bk ul li a{
	font-size: 12px;
	color: #597d7f;
	float: right;
}
menu{
	width: 100%;
	margin-top: 20px;
}
menu p{
	width: 100%;
	height: 40px;	
	font-size: 16px;
	background: #333;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
menu .two{
	display: none;
}
menu .fl{
	display: none;
	width: 290px;
	margin: 0 auto;
}
menu h3{
	margin-left: 10px;
	width: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	padding: 10px 2px;
	font-size: 12px;
	float: left;
}
menu h3:nth-child(1){
	margin-left: 0;
}
footer{
	width: 100%;
	padding-bottom: 100px;
	padding-top: 100px;
}
footer p{
	font-size: 26px;
	color: #888;
	text-align: center;
}
footer ul{
	width: 175px;
	display: block;
	margin: 0 auto;
}
footer li{
	width: 24px;
	height: 24px;
	margin: 0 5px;
	border-radius: 50%;
	background: #fff;
	float: left;
}
footer li:nth-child(1){
	background-image: url('../img/6.png');
	background-position: -48px -48px;
}
footer li:nth-child(2){
	background-image: url('../img/6.png');
	background-position: -96px -48px;
}
footer li:nth-child(3){
	background-image: url('../img/6.png');
	background-position: 72px -48px;
}
footer li:nth-child(4){
	background-image: url('../img/6.png');
	background-position: 48px -48px;
}
footer li:nth-child(5){
	background-image: url('../img/6.png');
	background-position: 0 0;
}
@media screen and (min-width: 1024px){
    .lp{
    	width: 1024px;
    }
	.lp li{
		padding:16px;
		margin: 0;
	}
	.lp ul{
	    width: 1024px;
	    margin: 0;
    }	 
}
/* 中屏幕 col-md- >992px */
@media screen and (min-width: 992px){
	nav{
        box-shadow: 0 0 3px 1px #999;
        display: inline;
    }
    
    nav p{
	    height: 100%;
	    background: #fff;
	    color: #333;
	    display: inline;
    }
    .yc,.xl{
    	display: none;
    }
    .lp ul li{
    	margin-left: 0;
    }
    .lp ul{
    	margin: 0;
    }
    .rj .bk{
    	width: 834px;
    	height: 100%;
    	margin-right: 0;
    	float: left;
    	/* padding: 0; */
    }
    .rj .bk ul{
    	width: 738px;
    	height: 100%;
    	margin: 0;
    }
    menu{
        width: 130px;
        height: 500px;
        float: left;
    	margin-left: 30px;
    	padding: 30px 0 80px 30px;
    }
    menu p{
    	display: none;
    }
    menu .fl{
    	width: 100%;
    
    	display: flex;
    	flex-direction: column;
    	margin: 0;
    }
    menu .fl h3{
    	/* display: block; */
    	width: 100px;
	    background: #fff;
	    color: #000;
	    text-align: center;
	    padding: 14px 20px;
	    font-size: 16px;
	    border: 1px solid rgba(226,226,226,1);
	    margin-left: 0;
    }
    menu .fl h3:hover{
    	border: 1px solid #333;
    }
    footer{
    	overflow: hidden;
    }
}
/* 大屏幕 col-lg- >1200px */
@media screen and (min-width: 1200px){
	.jj .nr{
    	width: 1024px;
    }

}

